USE [master]
GO
/****** Object:  Database [Fish_Tracks_Real_Time]    Script Date: 9/28/2026 1:49:27 PM ******/
CREATE DATABASE [Fish_Tracks_Real_Time]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Fish_Tracks_Real_Time', FILENAME = N'D:\SQL_Data\Fish_Tracks_Real_Time.mdf' , SIZE = 335872KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Fish_Tracks_Real_Time_log', FILENAME = N'L:\SQL_Logs\Fish_Tracks_Real_Time_log.ldf' , SIZE = 204800KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Fish_Tracks_Real_Time].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Fish_Tracks_Real_Time]
GO
/****** Object:  User [UOFI\mspear2]    Script Date: 9/28/2026 1:49:27 PM ******/
CREATE USER [UOFI\mspear2] FOR LOGIN [UOFI\mspear2] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [UOFI\IRBS-Fish_Tracks_RT-Viewers]    Script Date: 9/28/2026 1:49:27 PM ******/
CREATE USER [UOFI\IRBS-Fish_Tracks_RT-Viewers] FOR LOGIN [UOFI\IRBS-Fish_Tracks_RT-Viewers]
GO
/****** Object:  User [UOFI\IRBS-Fish_Tracks_RT-Editors]    Script Date: 9/28/2026 1:49:27 PM ******/
CREATE USER [UOFI\IRBS-Fish_Tracks_RT-Editors] FOR LOGIN [UOFI\IRBS-Fish_Tracks_RT-Editors]
GO
/****** Object:  User [irbs-posit]    Script Date: 9/28/2026 1:49:27 PM ******/
CREATE USER [irbs-posit] FOR LOGIN [irbs-posit] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [UOFI\mspear2]
GO
ALTER ROLE [db_datareader] ADD MEMBER [UOFI\IRBS-Fish_Tracks_RT-Viewers]
GO
ALTER ROLE [db_datareader] ADD MEMBER [UOFI\IRBS-Fish_Tracks_RT-Editors]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [UOFI\IRBS-Fish_Tracks_RT-Editors]
GO
ALTER ROLE [db_datareader] ADD MEMBER [irbs-posit]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [irbs-posit]
GO
/****** Object:  Table [dbo].[tag]    Script Date: 9/28/2026 1:49:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tag](
	[animal_id] [nvarchar](50) NOT NULL,
	[tag_type] [nvarchar](50) NULL,
	[tag_manufacturer] [nvarchar](50) NULL,
	[tag_model] [nvarchar](50) NULL,
	[tag_serial_number] [int] NULL,
	[tag_id_code] [nvarchar](50) NOT NULL,
	[tag_code_space] [nvarchar](50) NOT NULL,
	[tag_implant_type] [nvarchar](1) NULL,
	[tag_implant_method] [nvarchar](1) NULL,
	[tag_activation_date] [nvarchar](1) NULL,
	[est_tag_life] [smallint] NULL,
	[tagger] [nvarchar](50) NULL,
	[tag_owner_pi] [nvarchar](50) NULL,
	[tag_owner_organization] [nvarchar](50) NULL,
	[common_name_e] [nvarchar](50) NOT NULL,
	[scientific_name] [nvarchar](50) NOT NULL,
	[capture_location] [nvarchar](250) NULL,
	[capture_latitude] [float] NULL,
	[capture_longitude] [float] NULL,
	[wild_or_hatchery] [nvarchar](50) NULL,
	[stock] [nvarchar](1) NULL,
	[length] [decimal](10, 3) NULL,
	[weight] [decimal](10, 3) NULL,
	[length_type] [nvarchar](50) NULL,
	[length2] [decimal](10, 3) NULL,
	[length2_type] [nvarchar](50) NULL,
	[life_stage] [nvarchar](50) NULL,
	[age] [nvarchar](1) NULL,
	[age_units] [nvarchar](1) NULL,
	[sex] [nvarchar](50) NULL,
	[dna_sample_taken] [nvarchar](1) NULL,
	[treatment_type] [nvarchar](1) NULL,
	[release_group] [nvarchar](1) NULL,
	[release_location] [nvarchar](500) NULL,
	[release_latitude] [float] NULL,
	[release_longitude] [float] NULL,
	[utc_release_date_time] [datetime2](7) NULL,
	[harvest_date] [nvarchar](50) NULL,
	[capture_depth] [nvarchar](1) NULL,
	[temperature_change] [nvarchar](1) NULL,
	[holding_temperature] [nvarchar](1) NULL,
	[preop_hold_period] [nvarchar](1) NULL,
	[postop_hold_period] [nvarchar](1) NULL,
	[surgery_location] [nvarchar](1) NULL,
	[date_of_surgery] [nvarchar](1) NULL,
	[surgery_latitude] [nvarchar](1) NULL,
	[surgery_longitude] [nvarchar](1) NULL,
	[sedative] [nvarchar](1) NULL,
	[sedative_concentration] [nvarchar](1) NULL,
	[anaesthetic] [nvarchar](1) NULL,
	[buffer] [nvarchar](1) NULL,
	[anaesthetic_concentration] [nvarchar](1) NULL,
	[buffer_concentration_in_anaesthetic] [nvarchar](1) NULL,
	[anaesthetic_concentration_in_recirculation] [nvarchar](1) NULL,
	[buffer_concentration_in_recirculation] [nvarchar](1) NULL,
	[dissolved_oxygen] [nvarchar](1) NULL,
	[comments] [nvarchar](max) NULL,
	[TagID]  AS ((rtrim([tag_code_space])+'-')+CONVERT([varchar](20),[tag_id_code])) PERSISTED,
 CONSTRAINT [PK_tag] PRIMARY KEY CLUSTERED 
(
	[animal_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[deployment_intervals]    Script Date: 9/28/2026 1:49:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[deployment_intervals] AS
SELECT
    animal_id,
    TagID,
    utc_release_date_time AS deployment_start,
    COALESCE(
        LEAD(utc_release_date_time) OVER (
            PARTITION BY TagID
            ORDER BY utc_release_date_time
        ),
        CAST('2200-01-01' AS datetime2)
    ) AS deployment_end
FROM dbo.tag;
GO
/****** Object:  Table [dbo].[event]    Script Date: 9/28/2026 1:49:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[event](
	[DetectionID] [nvarchar](50) NOT NULL,
	[station_id] [nvarchar](50) NOT NULL,
	[TimeStamp] [datetime2](7) NOT NULL,
	[Record] [int] NOT NULL,
	[VRDetectCount] [int] NULL,
	[VRLineVolt] [decimal](3, 1) NULL,
	[VRBatVolt] [decimal](3, 1) NULL,
	[VRTemp] [decimal](3, 1) NULL,
	[VRDetectMem] [decimal](3, 1) NULL,
	[VRTagCount] [int] NOT NULL,
	[VRUniqTagCount] [int] NOT NULL,
	[TagID_1] [nvarchar](50) NULL,
	[TagID_2] [nvarchar](50) NULL,
	[TagID_3] [nvarchar](50) NULL,
	[TagID_4] [nvarchar](50) NULL,
	[TagID_5] [nvarchar](50) NULL,
	[TagID_6] [nvarchar](50) NULL,
	[TagID_7] [nvarchar](50) NULL,
	[TagID_8] [nvarchar](50) NULL,
	[TagID_9] [nvarchar](50) NULL,
	[TagID_10] [nvarchar](50) NULL,
	[TagID_11] [nvarchar](50) NULL,
	[TagID_12] [nvarchar](50) NULL,
	[TagID_13] [nvarchar](50) NULL,
	[TagID_14] [nvarchar](50) NULL,
	[TagID_15] [nvarchar](50) NULL,
	[TagID_16] [nvarchar](50) NULL,
	[TagID_17] [nvarchar](50) NULL,
	[TagID_18] [nvarchar](50) NULL,
	[TagID_19] [nvarchar](50) NULL,
	[TagID_20] [nvarchar](50) NULL,
	[TagID_21] [nvarchar](50) NULL,
	[TagID_22] [nvarchar](50) NULL,
	[TagID_23] [nvarchar](50) NULL,
	[TagID_24] [nvarchar](50) NULL,
	[TagID_25] [nvarchar](50) NULL,
	[TagID_26] [nvarchar](50) NULL,
	[TagID_27] [nvarchar](50) NULL,
	[TagID_28] [nvarchar](50) NULL,
	[TagID_29] [nvarchar](50) NULL,
	[TagID_30] [nvarchar](50) NULL,
	[TagIDTimeStamp_1] [datetime2](7) NULL,
	[TagIDTimeStamp_2] [datetime2](7) NULL,
	[TagIDTimeStamp_3] [datetime2](7) NULL,
	[TagIDTimeStamp_4] [datetime2](7) NULL,
	[TagIDTimeStamp_5] [datetime2](7) NULL,
	[TagIDTimeStamp_6] [datetime2](7) NULL,
	[TagIDTimeStamp_7] [datetime2](7) NULL,
	[TagIDTimeStamp_8] [datetime2](7) NULL,
	[TagIDTimeStamp_9] [datetime2](7) NULL,
	[TagIDTimeStamp_10] [datetime2](7) NULL,
	[TagIDTimeStamp_11] [datetime2](7) NULL,
	[TagIDTimeStamp_12] [datetime2](7) NULL,
	[TagIDTimeStamp_13] [datetime2](7) NULL,
	[TagIDTimeStamp_14] [datetime2](7) NULL,
	[TagIDTimeStamp_15] [datetime2](7) NULL,
	[TagIDTimeStamp_16] [datetime2](7) NULL,
	[TagIDTimeStamp_17] [datetime2](7) NULL,
	[TagIDTimeStamp_18] [datetime2](7) NULL,
	[TagIDTimeStamp_19] [datetime2](7) NULL,
	[TagIDTimeStamp_20] [datetime2](7) NULL,
	[TagIDTimeStamp_21] [datetime2](7) NULL,
	[TagIDTimeStamp_22] [datetime2](7) NULL,
	[TagIDTimeStamp_23] [datetime2](7) NULL,
	[TagIDTimeStamp_24] [datetime2](7) NULL,
	[TagIDTimeStamp_25] [datetime2](7) NULL,
	[TagIDTimeStamp_26] [datetime2](7) NULL,
	[TagIDTimeStamp_27] [datetime2](7) NULL,
	[TagIDTimeStamp_28] [datetime2](7) NULL,
	[TagIDTimeStamp_29] [datetime2](7) NULL,
	[TagIDTimeStamp_30] [datetime2](7) NULL,
	[DateRetrieved] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_event] PRIMARY KEY CLUSTERED 
(
	[DetectionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[non_animal_tag]    Script Date: 9/28/2026 1:49:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[non_animal_tag](
	[tag_code_space] [nvarchar](50) NOT NULL,
	[tag_id_code] [nvarchar](50) NOT NULL,
	[TagID]  AS ((rtrim([tag_code_space])+'-')+CONVERT([varchar](20),[tag_id_code])) PERSISTED,
	[reason_for_omission] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[event_animal]    Script Date: 9/28/2026 1:49:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[event_animal]
AS
SELECT        e.DetectionID, e.station_id, e.TimeStamp, v.idx, v.TagID, v.TagIDTimeStamp, p.animal_id
FROM            dbo.event AS e CROSS APPLY(VALUES (1, e.TagID_1, e.TagIDTimeStamp_1), (2, e.TagID_2, e.TagIDTimeStamp_2), (3, e.TagID_3, e.TagIDTimeStamp_3), (4, e.TagID_4, e.TagIDTimeStamp_4), (5, e.TagID_5, 
                         e.TagIDTimeStamp_5), (6, e.TagID_6, e.TagIDTimeStamp_6), (7, e.TagID_7, e.TagIDTimeStamp_7), (8, e.TagID_8, e.TagIDTimeStamp_8), (9, e.TagID_9, e.TagIDTimeStamp_9), (10, e.TagID_10, e.TagIDTimeStamp_10), (11, 
                         e.TagID_11, e.TagIDTimeStamp_11), (12, e.TagID_12, e.TagIDTimeStamp_12), (13, e.TagID_13, e.TagIDTimeStamp_13), (14, e.TagID_14, e.TagIDTimeStamp_14), (15, e.TagID_15, e.TagIDTimeStamp_15), (16, e.TagID_16, 
                         e.TagIDTimeStamp_16), (17, e.TagID_17, e.TagIDTimeStamp_17), (18, e.TagID_18, e.TagIDTimeStamp_18), (19, e.TagID_19, e.TagIDTimeStamp_19), (20, e.TagID_20, e.TagIDTimeStamp_20), (21, e.TagID_21, 
                         e.TagIDTimeStamp_21), (22, e.TagID_22, e.TagIDTimeStamp_22), (23, e.TagID_23, e.TagIDTimeStamp_23), (24, e.TagID_24, e.TagIDTimeStamp_24), (25, e.TagID_25, e.TagIDTimeStamp_25), (26, e.TagID_26, 
                         e.TagIDTimeStamp_26), (27, e.TagID_27, e.TagIDTimeStamp_27), (28, e.TagID_28, e.TagIDTimeStamp_28), (29, e.TagID_29, e.TagIDTimeStamp_29), (30, e.TagID_30, e.TagIDTimeStamp_30)) AS v(idx, TagID, TagIDTimeStamp) 
LEFT JOIN dbo.deployment_intervals AS p
  ON v.TagID = p.TagID
 AND e.TimeStamp >= p.deployment_start
 AND e.TimeStamp <  p.deployment_end
WHERE        v.TagID IS NOT NULL AND v.TagID <> '' AND NOT EXISTS
                             (SELECT        1
                               FROM            dbo.non_animal_tag nat
                               WHERE        nat.TagID = v.TagID);
GO
/****** Object:  Table [dbo].[insert_log]    Script Date: 9/28/2026 1:49:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[insert_log](
	[run_time] [datetime] NOT NULL,
	[rows_inserted] [int] NOT NULL,
	[rows_skipped] [int] NOT NULL,
	[err_msg] [nvarchar](250) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[staging_event]    Script Date: 9/28/2026 1:49:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[staging_event](
	[DetectionID] [varchar](255) NULL,
	[station_id] [varchar](255) NULL,
	[TimeStamp] [datetime] NULL,
	[Record] [int] NULL,
	[VRDetectCount] [int] NULL,
	[VRLineVolt] [float] NULL,
	[VRBatVolt] [float] NULL,
	[VRTemp] [float] NULL,
	[VRDetectMem] [float] NULL,
	[VRTagCount] [int] NULL,
	[VRUniqTagCount] [int] NULL,
	[TagID_1] [varchar](255) NULL,
	[TagID_2] [varchar](255) NULL,
	[TagID_3] [varchar](255) NULL,
	[TagID_4] [varchar](255) NULL,
	[TagID_5] [varchar](255) NULL,
	[TagID_6] [varchar](255) NULL,
	[TagID_7] [varchar](255) NULL,
	[TagID_8] [varchar](255) NULL,
	[TagID_9] [varchar](255) NULL,
	[TagID_10] [varchar](255) NULL,
	[TagID_11] [varchar](255) NULL,
	[TagID_12] [varchar](255) NULL,
	[TagID_13] [varchar](255) NULL,
	[TagID_14] [varchar](255) NULL,
	[TagID_15] [varchar](255) NULL,
	[TagID_16] [varchar](255) NULL,
	[TagID_17] [varchar](255) NULL,
	[TagID_18] [varchar](255) NULL,
	[TagID_19] [varchar](255) NULL,
	[TagID_20] [varchar](255) NULL,
	[TagID_21] [varchar](255) NULL,
	[TagID_22] [varchar](255) NULL,
	[TagID_23] [varchar](255) NULL,
	[TagID_24] [varchar](255) NULL,
	[TagID_25] [varchar](255) NULL,
	[TagID_26] [varchar](255) NULL,
	[TagID_27] [varchar](255) NULL,
	[TagID_28] [varchar](255) NULL,
	[TagID_29] [varchar](255) NULL,
	[TagID_30] [varchar](255) NULL,
	[TagIDTimeStamp_1] [datetime] NULL,
	[TagIDTimeStamp_2] [datetime] NULL,
	[TagIDTimeStamp_3] [datetime] NULL,
	[TagIDTimeStamp_4] [datetime] NULL,
	[TagIDTimeStamp_5] [datetime] NULL,
	[TagIDTimeStamp_6] [datetime] NULL,
	[TagIDTimeStamp_7] [datetime] NULL,
	[TagIDTimeStamp_8] [datetime] NULL,
	[TagIDTimeStamp_9] [datetime] NULL,
	[TagIDTimeStamp_10] [datetime] NULL,
	[TagIDTimeStamp_11] [datetime] NULL,
	[TagIDTimeStamp_12] [datetime] NULL,
	[TagIDTimeStamp_13] [datetime] NULL,
	[TagIDTimeStamp_14] [datetime] NULL,
	[TagIDTimeStamp_15] [datetime] NULL,
	[TagIDTimeStamp_16] [datetime] NULL,
	[TagIDTimeStamp_17] [datetime] NULL,
	[TagIDTimeStamp_18] [datetime] NULL,
	[TagIDTimeStamp_19] [datetime] NULL,
	[TagIDTimeStamp_20] [datetime] NULL,
	[TagIDTimeStamp_21] [datetime] NULL,
	[TagIDTimeStamp_22] [datetime] NULL,
	[TagIDTimeStamp_23] [datetime] NULL,
	[TagIDTimeStamp_24] [datetime] NULL,
	[TagIDTimeStamp_25] [datetime] NULL,
	[TagIDTimeStamp_26] [datetime] NULL,
	[TagIDTimeStamp_27] [datetime] NULL,
	[TagIDTimeStamp_28] [datetime] NULL,
	[TagIDTimeStamp_29] [datetime] NULL,
	[TagIDTimeStamp_30] [datetime] NULL,
	[DateRetrieved] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[staging_tag]    Script Date: 9/28/2026 1:49:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[staging_tag](
	[animal_id] [nvarchar](50) NOT NULL,
	[tag_type] [nvarchar](50) NOT NULL,
	[tag_manufacturer] [nvarchar](50) NOT NULL,
	[tag_model] [nvarchar](50) NOT NULL,
	[tag_serial_number] [int] NOT NULL,
	[tag_id_code] [int] NOT NULL,
	[tag_code_space] [nvarchar](50) NOT NULL,
	[tag_implant_type] [nvarchar](1) NULL,
	[tag_implant_method] [nvarchar](1) NULL,
	[tag_activation_date] [nvarchar](1) NULL,
	[est_tag_life] [smallint] NOT NULL,
	[tagger] [nvarchar](50) NULL,
	[tag_owner_pi] [nvarchar](50) NOT NULL,
	[tag_owner_organization] [nvarchar](50) NOT NULL,
	[common_name_e] [nvarchar](50) NOT NULL,
	[scientific_name] [nvarchar](50) NOT NULL,
	[capture_location] [nvarchar](50) NULL,
	[capture_latitude] [float] NOT NULL,
	[capture_longitude] [float] NOT NULL,
	[wild_or_hatchery] [nvarchar](50) NULL,
	[stock] [nvarchar](1) NULL,
	[length] [float] NOT NULL,
	[weight] [float] NOT NULL,
	[length_type] [nvarchar](50) NOT NULL,
	[length2] [nvarchar](1) NULL,
	[length2_type] [nvarchar](1) NULL,
	[life_stage] [nvarchar](50) NOT NULL,
	[age] [nvarchar](1) NULL,
	[age_units] [nvarchar](1) NULL,
	[sex] [nvarchar](50) NOT NULL,
	[dna_sample_taken] [nvarchar](1) NULL,
	[treatment_type] [nvarchar](1) NULL,
	[release_group] [nvarchar](1) NULL,
	[release_location] [nvarchar](50) NULL,
	[release_latitude] [float] NOT NULL,
	[release_longitude] [float] NOT NULL,
	[utc_release_date_time] [datetime2](7) NOT NULL,
	[harvest_date] [nvarchar](50) NOT NULL,
	[capture_depth] [nvarchar](1) NULL,
	[temperature_change] [nvarchar](1) NULL,
	[holding_temperature] [nvarchar](1) NULL,
	[preop_hold_period] [nvarchar](1) NULL,
	[postop_hold_period] [nvarchar](1) NULL,
	[surgery_location] [nvarchar](1) NULL,
	[date_of_surgery] [nvarchar](1) NULL,
	[surgery_latitude] [nvarchar](1) NULL,
	[surgery_longitude] [nvarchar](1) NULL,
	[sedative] [nvarchar](1) NULL,
	[sedative_concentration] [nvarchar](1) NULL,
	[anaesthetic] [nvarchar](1) NULL,
	[buffer] [nvarchar](1) NULL,
	[anaesthetic_concentration] [nvarchar](1) NULL,
	[buffer_concentration_in_anaesthetic] [nvarchar](1) NULL,
	[anaesthetic_concentration_in_recirculation] [nvarchar](1) NULL,
	[buffer_concentration_in_recirculation] [nvarchar](1) NULL,
	[dissolved_oxygen] [nvarchar](1) NULL,
	[comments] [smallint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[station]    Script Date: 9/28/2026 1:49:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[station](
	[station_id] [nvarchar](50) NOT NULL,
	[station_name] [nvarchar](100) NOT NULL,
	[station_label] [nvarchar](100) NOT NULL,
	[river_name] [nvarchar](50) NOT NULL,
	[city] [nvarchar](50) NOT NULL,
	[state] [nvarchar](50) NOT NULL,
	[tz] [nvarchar](50) NOT NULL,
	[plot_order] [int] NOT NULL,
 CONSTRAINT [PK_station] PRIMARY KEY CLUSTERED 
(
	[station_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_event_TimeStamp_station]    Script Date: 9/28/2026 1:49:27 PM ******/
CREATE NONCLUSTERED INDEX [IX_event_TimeStamp_station] ON [dbo].[event]
(
	[TimeStamp] ASC,
	[station_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ARITHABORT ON
SET CONCAT_NULL_YIELDS_NULL ON
SET QUOTED_IDENTIFIER ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
SET NUMERIC_ROUNDABORT OFF
GO
/****** Object:  Index [IX_non_animal_tag_TagID]    Script Date: 9/28/2026 1:49:27 PM ******/
CREATE NONCLUSTERED INDEX [IX_non_animal_tag_TagID] ON [dbo].[non_animal_tag]
(
	[TagID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ARITHABORT ON
SET CONCAT_NULL_YIELDS_NULL ON
SET QUOTED_IDENTIFIER ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
SET NUMERIC_ROUNDABORT OFF
GO
/****** Object:  Index [IX_tag]    Script Date: 9/28/2026 1:49:27 PM ******/
CREATE NONCLUSTERED INDEX [IX_tag] ON [dbo].[tag]
(
	[TagID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'event_animal'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'event_animal'
GO
USE [master]
GO
